{% extends 'app_culture_management/dashboard/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>Bem-vindo, <b>{{ user.username }}</b>!</h1>
        <p>Aqui estão alguns eventos disponíveis para você.</p>
    </div>
</section>

<section class="events-section">
    <h2>Eventos Disponíveis</h2>
    <div class="events-container">
        {% if eventos %}
        {% for evento in eventos %}
        <article class="event-card">
            <h3>{{ evento.titulo }}</h3>
            <div class="event-details">
                <p><i class="fas fa-calendar-day"></i> <strong>Data de Início:</strong> {{ evento.data_inicio }}</p>
                <p><i class="fas fa-calendar-day"></i> <strong>Data de Fim:</strong> {{ evento.data_fim }}</p>
                <p><i class="fas fa-city"></i> <strong>Cidade:</strong> {{ evento.cidade }}</p>
                <p><i class="fas fa-map-marker-alt"></i> <strong>Local:</strong> {{ evento.local }}</p>
                <p><i class="fas fa-tag"></i> <strong>Valor:</strong>
                    {% if evento.entrada_gratuita %}
                    Gratuito
                    {% else %}
                    R$ {{ evento.valor }}
                    {% endif %}
                </p>
                <p><i class="fas fa-clock"></i> <strong>Horário:</strong> {{ evento.horario }}</p>
            </div>
        </article>
        {% endfor %}
        {% else %}
        <p>Nenhum evento disponível no momento.</p>
        {% endif %}
    </div>
</section>
{% endblock %}