{% extends 'app_culture_management/dashboard/base.html' %}

{% block title %}Lista de Eventos{% endblock %}

{% block content %}
<div class="header">
    <h1>Eventos</h1>
    <a href="#" id="openModal" class="btn-create-event">+ Novo Evento</a>
</div>

<table class="event-table">
    <thead>
        <tr>
            <th>Ações</th>
            <th>Título</th>
            <th>Data</th>
            <th>Cidade</th>
            <th>Horário</th>
            <th>Local</th>
            <th>Valor</th>
            <th>Vagas</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr>
            <td class="td-actions">
                <a href="#" class="btn btn-edit" data-event-id="{{ evento.pk }}"
                    data-url="{% url 'editar_evento' evento.pk %}"><i class="fas fa-edit"></i></a>
                <a href="#" class="btn btn-delete" data-event-id="{{ evento.pk }}"
                    data-event-title="{{ evento.titulo }}"><i class="fas fa-trash"></i></a>
            </td>
            <td>{{ evento.titulo }}</td>
            <td>{{ evento.data }}</td>
            <td>{{ evento.cidade }}</td>
            <td>{{ evento.horario }}</td>
            <td>{{ evento.local }}</td>
            <td>
                {% if evento.entrada_gratuita %}
                Gratuito
                {% else %}
                R$ {{ evento.valor }}
                {% endif %}
            </td>
            <td>
                {% if evento.vagas %}
                {{ evento.vagas }}
                {% else %}
                Ilimitado
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if not eventos %}
<p>Nenhum evento disponível no momento.</p>
{% endif %}

<div id="deleteEventModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <h2>Excluir Evento</h2>
        </div>
        <div class="modal-body">
            <p>Tem certeza de que deseja excluir o evento "<span id="eventTitle"></span>"?</p>
        </div>
        <form id="deleteEventForm" method="post" action="{% url 'deletar_evento' 0 %}">
            {% csrf_token %}
            <input type="hidden" id="eventId" name="eventId">
            <div class="modal-buttons">
                <button type="submit" class="btn confirm-delete">Confirmar</button>
            </div>
        </form>
    </div>
</div>

<div id="createEventModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalTitle">{% if edit_mode %}Editar Evento{% else %}Criar Novo Evento{% endif %}</h2>
        <form id="eventForm" method="post"
            action="{% if edit_mode %}{% url 'editar_evento' evento.pk %}{% else %}{% url 'criar_evento' %}{% endif %}">
            {% csrf_token %}
            <div class="modal-form">
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form.titulo.id_for_label }}">Título:</label>
                        {{ form.titulo }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.tipo.id_for_label }}">Tipo:</label>
                        {{ form.tipo }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.data.id_for_label }}">Data:</label>
                        {{ form.data }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.horario.id_for_label }}">Horário:</label>
                        {{ form.horario }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form.local.id_for_label }}">Local:</label>
                        {{ form.local }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.cidade.id_for_label }}">Cidade:</label>
                        {{ form.cidade }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.valor.id_for_label }}">Valor:</label>
                        {{ form.valor }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.entrada_gratuita.id_for_label }}">Entrada Gratuita:</label>
                        {{ form.entrada_gratuita }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.vagas.id_for_label }}">Vagas:</label>
                        {{ form.vagas }}
                    </div>
                </div>

                {% if form.errors %}
                <div class="form-errors">
                    {{ form.errors }}
                </div>
                {% endif %}
            </div>
            <div class="modal-buttons">
                <button type="submit" class="btn btn-primary save">{% if edit_mode %}Salvar Alterações{% else %}Salvar
                    Evento{% endif %}</button>
            </div>
        </form>
    </div>
</div>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modalCreateEdit = document.getElementById("createEventModal");

        document.getElementById("openModal").onclick = function () {
            modalCreateEdit.querySelector('form').reset();
            modalCreateEdit.querySelector('h2').textContent = "Criar Novo Evento";
            modalCreateEdit.querySelector('form').action = "{% url 'criar_evento' %}";
            modalCreateEdit.style.display = "flex";
        }

        document.querySelectorAll(".btn-edit").forEach(function (btn) {
            btn.addEventListener("click", function (event) {
                event.preventDefault();
                var eventId = this.getAttribute("data-event-id");
                var url = this.getAttribute("data-url");

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        modalCreateEdit.querySelector('h2').textContent = "Editar Evento";
                        modalCreateEdit.querySelector('form').action = "{% url 'editar_evento' 0 %}".replace('0', eventId);

                        modalCreateEdit.querySelector('#id_titulo').value = data.titulo;
                        modalCreateEdit.querySelector('#id_tipo').value = data.tipo;
                        modalCreateEdit.querySelector('#id_data').value = data.data;
                        modalCreateEdit.querySelector('#id_horario').value = data.horario;
                        modalCreateEdit.querySelector('#id_local').value = data.local;
                        modalCreateEdit.querySelector('#id_cidade').value = data.cidade;
                        modalCreateEdit.querySelector('#id_valor').value = data.valor;
                        modalCreateEdit.querySelector('#id_entrada_gratuita').checked = data.entrada_gratuita;
                        modalCreateEdit.querySelector('#id_vagas').value = data.vagas;

                        modalCreateEdit.style.display = "flex";
                    });
            });
        });

        var spanClose = document.getElementsByClassName("close");
        Array.from(spanClose).forEach(function (span) {
            span.onclick = function () {
                modalCreateEdit.style.display = "none";
            }
        });

        window.onclick = function (event) {
            if (event.target == modalCreateEdit) {
                modalCreateEdit.style.display = "none";
            }
        }
    });


    document.addEventListener('DOMContentLoaded', function () {
        var modalDelete = document.getElementById("deleteEventModal");
        var btnsDelete = document.querySelectorAll(".btn-delete");
        var modalCreateEdit = document.getElementById("createEventModal");
        var btnCreate = document.getElementById("openModal");
        var spanClose = document.getElementsByClassName("close");

        btnCreate.onclick = function () {
            modalCreateEdit.querySelector('form').reset();
            modalCreateEdit.querySelector('h2').textContent = "Criar Novo Evento";
            modalCreateEdit.querySelector('form').action = "{% url 'criar_evento' %}";
            modalCreateEdit.style.display = "flex";
        }

        document.querySelectorAll(".btn-edit").forEach(function (btn) {
            btn.addEventListener("click", function (event) {
                event.preventDefault();
                var eventId = this.getAttribute("data-event-id");
                var url = this.getAttribute("data-url");

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        modalCreateEdit.querySelector('h2').textContent = "Editar Evento";
                        modalCreateEdit.querySelector('form').action = "{% url 'editar_evento' 0 %}".replace('0', eventId);

                        modalCreateEdit.querySelector('#id_titulo').value = data.titulo;
                        modalCreateEdit.querySelector('#id_tipo').value = data.tipo;
                        modalCreateEdit.querySelector('#id_data').value = data.data;
                        modalCreateEdit.querySelector('#id_horario').value = data.horario;
                        modalCreateEdit.querySelector('#id_local').value = data.local;
                        modalCreateEdit.querySelector('#id_cidade').value = data.cidade;
                        modalCreateEdit.querySelector('#id_valor').value = data.valor;
                        modalCreateEdit.querySelector('#id_entrada_gratuita').checked = data.entrada_gratuita;
                        modalCreateEdit.querySelector('#id_vagas').value = data.vagas;

                        modalCreateEdit.style.display = "flex";
                    });
            });
        });

        btnsDelete.forEach(function (btn) {
            btn.addEventListener("click", function (event) {
                event.preventDefault();
                var eventId = this.getAttribute("data-event-id");
                var eventTitle = this.getAttribute("data-event-title");

                document.getElementById("eventTitle").textContent = eventTitle;
                document.getElementById("eventId").value = eventId;
                document.getElementById("deleteEventForm").action = "{% url 'deletar_evento' 0 %}".replace('0', eventId);

                modalDelete.style.display = "flex";
            });
        });

        Array.from(spanClose).forEach(function (span) {
            span.onclick = function () {
                modalDelete.style.display = "none";
                modalCreateEdit.style.display = "none";
            }
        });

        window.onclick = function (event) {
            if (event.target == modalDelete || event.target == modalCreateEdit) {
                modalDelete.style.display = "none";
                modalCreateEdit.style.display = "none";
            }
        }
    });
</script>


{% endblock %}